@import url("https://fonts.googleapis.com/css2?family=Allison&family=WindSong&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allison&family=Barlow+Condensed:wght@100&family=WindSong&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&family=Varela+Round&display=swap");

* {
  margin: 0;
  padding: 0;
}
html {
  font-family: "Barlow Condensed", sans-serif;
  font-family: "Allison", cursive;
}

*:focus {
  outline: none;
}

a {
  text-decoration: none;
}

body {
  width: 100%;
  margin: auto;
  background-color: #fff;
}

.header {
  padding-top: 3rem;
  height: 110px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.top-logo a {
  text-decoration: none;
  list-style-type: none;
  color: rgb(4, 7, 6);
}

.header .top-logo h1 {
  font-family: "WindSong", cursive;
  margin-left: 2rem;
  font-size: 3rem;
}

.header .top-logo h2 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 2rem;
}

.top-logo {
  margin: auto;
}

.menu-wrapper {
  margin: auto;
}

.dropdown-container {
  position: relative;
  display: inline-block;
}

.dropdown-btn {
  font-size: 30px;
  font-weight: 700;
  font-family: "Barlow Condensed", sans-serif;
  text-decoration: none;
  color: rgb(4, 7, 6);
  text-transform: uppercase;
  border: none;
  background-color: white;
  cursor: pointer;
  outline: 0;
}

.dropdown-btn:hover {
  color: lightgray;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 120px;
  z-index: 2;
  border: 1px solid rgba(0, 0, 0, 0.04);
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14);
}

.dropdown ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown li {
  display: block;
  padding: 8px 12px;
}

.dropdown li:hover {
  background-color: rgba(0, 0, 0, 0.14);
  cursor: pointer;
}

.dropdown a {
  font-size: 20px !important;
}

.menu-nav ul {
  list-style-type: none;
  display: flex;
}

.menu-nav li {
  padding: 3%;
}

.menu-nav li a {
  font-size: 30px;
  font-weight: 700;
  font-family: "Barlow Condensed", sans-serif;
  text-decoration: none;
  color: rgb(4, 7, 6);
  text-transform: uppercase;
}

.menu-nav li a:hover {
  color: lightgray;
}

.search-field {
  border: 1px solid grey;
  border-radius: 5px;
  height: 20px;
  width: 50%;
  padding: 6px 50px 6px 50px;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: left;
}

.search-field:focus::placeholder {
  opacity: 50%;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 1rem;
  top: 3.5rem;
  font-size: 0px !important;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
  font-size: 1px;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
  right: 1rem !important;
  font-size: 1px;
  z-index: 2;
}

/* Color/shape of close button cross */
.bm-cross {
  background: white;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: absolute;
  height: 12rem !important;
  width: 20% !important;
  z-index: 1;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  z-index: 1;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  margin-left: 35% !important;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  display: none !important;
}

#page-wrap {
  margin-top: -5px;
  padding-left: 150px;
  text-align: left;
}

.mobile-nav a {
  color: white;
}
.mobile-nav a:hover {
  color: lightgray;
  font-size: 20px;
}

.joke-container {
  text-align: center;
  padding: 2rem 10rem 3rem 10rem;
}

.joke-container h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.joke-container h2 {
  font-style: italic;
}

.footer {
  height: 200px;
  background-color: rgb(226, 238, 233);
}

.container .footer-block {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR6w3kxqN2LbZIkX36RvLwZr6gGxSRjJRkDbQ&usqp=CAU);
  background-size: cover;
  min-height: 190px;
  border-radius: 5px;
  font-size: 12px;
}

.container .footer-block h6 {
  font-size: 1.2rem;
  font-family: "WindSong", cursive;
}

.container .footer-block a {
  font-size: 1.2rem;
  text-decoration: none;
  color: rgb(55, 197, 233);
  font-family: "Barlow Condensed", sans-serif;
}

.container .footer-copyright {
  text-align: center;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 50px;
  grid-row-gap: 0px;
  padding: 5rem 5rem 5rem 5rem;
  margin: auto;
}

.maincontent {
  height: 100%;
  background-color: rgb(255, 255, 255);
  font-family: "Barlow Condensed", sans-serif;
}

.maincontent .container {
  margin: auto;
}

.rand-recipes {
  width: 100%;
}

.rand-recipes h1 {
  color: black;
  font-size: 1.2rem;
  padding-bottom: 2rem;
  text-align: center;
}

.rand-recipes img {
  display: block;
  width: 350px;
  margin: auto;
  border-radius: 10px;
}

.rand-recipes h4,
p {
  padding-top: 0.5rem;
  text-align: right;
  color: rgb(4, 79, 109);
  display: inline;
  vertical-align: top;
}

.rand-recipes hr {
  margin-top: 2rem;
  border-top: 1px grey;
  display: block;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.dish-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.dish-info p,
h4 {
  font-weight: bold;
  margin: auto;
}

.single-container {
  margin: 3% 0 3% 0;
}

.single-recipe {
  justify-content: center;
  display: flex;
}

.single-recipe img {
  border-radius: 25px;
}

.single-recipe-container {
  text-align: center;
  max-width: 25%;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  color: rgb(4, 7, 6);
}

.single-recipe-container h1 {
  font-family: "Barlow Condensed", sans-serif;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.1);
  letter-spacing: 3px;
  font-weight: 900;
  text-decoration: underline;
  margin-bottom: 30px;
}

.single-recipe-info-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10%;
  font-family: "Varela Round", sans-serif;
}

.single-recipe-info {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.single-recipe-link {
  margin: auto;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 900;
  font-size: 25px;
  letter-spacing: 3px;
}

.single-recipe-link a {
  text-decoration: none;

  color: rgb(4, 7, 6);
}

.single-recipe-link a:hover {
  color: lightgray;
}

.single-info-box h2 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 30px;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.1);
  letter-spacing: 3px;
  text-decoration: underline;
  margin: 3% 0% 1% 14%;
}

.single-instruction p {
  color: black;
}

.single-step {
  margin: 2% 10% 0% 14%;
}

#number {
  font-weight: bold;
}

.single-ingredient {
  margin: 0% 10% 0% 15%;
}

.main-grid {
  display: grid;
  grid-template-columns: repeat(2, 5fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 70px;
  grid-row-gap: 20px;
  padding-top: 5rem;
  grid-template-columns: 35% 35%;
  margin: auto;
  justify-content: center;
}

.Subscribe-divider {
  height: 100px;
  width: 100%;
  background-color: rgb(22, 127, 153);
  display: flex;
  color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.Subscribe-divider h1 {
  font-size: 1.7rem;
}

.Subscribe-divider .divider-icons {
  color: white;
  padding: 0.4rem;
  font-size: 2rem;
}

.subsribe-box h1 {
  display: flex;
}

.subsribe-box h2 {
  text-transform: uppercase;
}

.subscribe-form {
  display: flex;
}

.subscribe-btn {
  background-color: white;
  border-radius: 5px;
  border: 1px solid grey;
  font-family: "Barlow Condensed", sans-serif;
  width: 20%;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.subsribe-field {
  border: 1px solid grey;
  border-radius: 5px;
  height: 20px;
  width: 35%;
  padding: 6px 50px 6px 50px;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: center;
}

.subsribe-box {
  margin: auto;
}

.follow-us {
  display: flex;
}

.follow-us h3 {
  font-family: "WindSong", cursive;
}

.slider-container {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.Social-footer {
  text-align: center;
  padding-bottom: 4rem;
}

.social-footer-2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-block hr {
  margin-top: 1rem;
  border-top: 1px solid rgb(55, 197, 233);
  border-bottom: 1px solid rgb(43, 154, 182);
  display: block;
  width: 100%;
  margin-right: auto;
}

.footer-link {
  padding-top: 1rem;
  width: 3rem;
}

@media only screen and (max-width: 1000px) {
  .menu-nav li a {
    font-size: 20px;
  }
  .dropdown-btn {
    font-size: 20px;
  }
  .search-field {
    padding: 1px 40px 1px 40px;
    font-size: 1rem;
  }
}

@media only screen and (max-width: 800px) {
  .main-grid {
    grid-template-columns: 100%;
  }
  .menu-nav {
    display: none;
  }
  .single-recipe {
    flex-direction: column;
  }
  .single-recipe-img {
    margin: auto;
    width: 300px !important;
    padding-bottom: 25px;
  }

  .single-recipe-container {
    max-width: 100%;
    margin: auto;
  }
  .single-recipe-info-container {
    justify-content: space-between;
    margin-top: 0px;
    margin-bottom: 5%;
  }
}

@media only screen and (min-width: 801px) {
  .bm-burger-button {
    display: none;
  }
}

@media only screen and (max-width: 510px) {
  .rand-recipes img {
    width: 250px;
  }
  .rand-recipes h1 {
    font-size: 1rem;
  }
  .single-info-box h2 {
    font-size: 25px;
  }
}

@media only screen and (max-width: 712px) {
  .footer-grid {
    grid-template-columns: 100%;
    padding: 2rem;
    row-gap: 20px;
  }
}

@media only screen and (max-width: 1150px) {
  .single-recipe-img {
    width: 400px;
  }
  .single-recipe-img img {
    width: 100%;
  }

  .single-recipe-container {
    width: 400px;
  }
  .single-recipe-container h1 {
    font-size: 20px;
  }

  .single-recipe-container p {
    font-size: 12px;
  }
}
